<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css}"/>
    <title>Search Property Location</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:insert="~{fragments/navbar.html}">
    </header>
    <div class="flex-grow-1 m-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Edit HOA Property </h2>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{/manager/homes/edit/{id}(id=${home.id})}" th:object="${home}" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label class="form-label" for="name">HOA Property Name:</label>
                                    <input class="form-control" id="name" type="text" th:field="*{name}"
                                           placeholder="Enter HOA Property name">
                                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                </div>
                                <input type="hidden" th:field="*{addressDTO.id}">
                                <div class="mb-3">
                                    <label class="form-label" for="addressLine">Address Line:</label>
                                    <input class="form-control" id="addressLine" type="text"
                                           th:field="*{addressDTO.addressLine}" placeholder="Enter address line">
                                    <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.addressLine')}"th:errors="*{addressDTO.addressLine}"></p>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="city">City:</label>
                                    <input class="form-control" id="city" type="text" th:field="*{addressDTO.city}"
                                           placeholder="Enter City">
                                    <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.city')}"
                                       th:errors="*{addressDTO.city}"></p>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="stateId">State:</label>
                                    <input class="form-control" id="stateId" type="text" th:field="*{addressDTO.state}"
                                           placeholder="Enter state">
                                    <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.state')}"
                                       th:errors="*{addressDTO.state}"></p>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="usZipCode">Zip Code:</label>
                                    <input class="form-control" id="usZipCode" type="text" th:field="*{addressDTO.usZipCode}"
                                           placeholder="Enter Zip Code">
                                    <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.usZipCode')}"
                                       th:errors="*{addressDTO.usZipCode}"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="imageFile" class="form-label">Upload New Home Image</label>
                                    <input type="file" class="form-control" id="imageFile" name="imageFile">
                                    <div class="text-danger" th:if="${imageFileError != null}" th:text="${imageFileError}"></div>
                                </div>
                                <!-- Garage EV use Details -->
                                <div class="mb-3">
                                    <input type="hidden" th:field="*{garageDTOS[0].id}">
                                    <label class="form-label" for="evParkingSpots">EV Parking spots:</label>
                                    <input class="form-control" id="evParkingSpots" type="number"
                                           th:field="*{garageDTOS[0].parkingSpotCount}"
                                           placeholder="Enter spots for EV parking">
                                    <input type="hidden" th:field="*{garageDTOS[0].spaceType}">
                                    <p class="text-danger" th:if="${#fields.hasErrors('garageDTOS[0].parkingSpotCount')}" th:errors="*{garageDTOS[0].parkingSpotCount}"></p>

                                    <label class="form-label" for="pricePerDayEV">EV Parking price ($):</label>
                                    <input class="form-control" id="pricePerDayEV" type="number" step="0.01"
                                           th:field="*{garageDTOS[0].pricePerDay}"
                                           placeholder="Enter price for EV Parking">
                                    <p class="text-danger" th:if="${#fields.hasErrors('garageDTOS[0].pricePerDay')}" th:errors="*{garageDTOS[0].pricePerDay}"></p>
                                </div>
                                <!-- Day Use Parking Details -->
                                <div class="mb-3">
                                    <input type="hidden" th:field="*{garageDTOS[1].id}">
                                    <label class="form-label" for="dayUseParkingSpots">Day use Parking spots:</label>
                                    <input class="form-control" id="dayUseParkingSpots" type="number"
                                           th:field="*{garageDTOS[1].parkingSpotCount}"
                                           placeholder="Enter spots for Day use parking">
                                    <input type="hidden" th:field="*{garageDTOS[1].spaceType}">
                                    <p class="text-danger" th:if="${#fields.hasErrors('garageDTOS[1].parkingSpotCount')}" th:errors="*{garageDTOS[1].parkingSpotCount}"></p>
                                    <label class="form-label" for="pricePerDayReg">Day use parking price ($):</label>
                                    <input class="form-control" id="pricePerDayReg" type="number" step="0.01"th:field="*{garageDTOS[1].pricePerDay}"
                                           placeholder="Enter price for double rooms">
                                    <p class="text-danger" th:if="${#fields.hasErrors('garageDTOS[1].pricePerDay')}" th:errors="*{garageDTOS[1].pricePerDay}"></p>
                                </div>
                                <!-- Update or Cancel -->
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Update Home</button>
                                    <a th:href="@{/manager/homes}" class="btn btn-secondary">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="~{fragments/footer.html}">
    </footer>

</body>
</html>