<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css}"/>
    <title>Search Property Location</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:insert="~{fragments/navbar.html}">
    </header>
    <div class="flex-grow-1 m-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Add New Home property</h2>
                        </div>
                        <form method="post" th:action="@{/manager/homes/add}" th:object="${home}" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">Home Name</label>
                                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter home name">
                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                            </div>
                            <div class="mb-3">
                                <label for="addressLine" class="form-label">Address Line</label>
                                <input type="text" class="form-control" id="addressLine" th:field="*{addressDTO.addressLine}" placeholder="Enter address line">
                                <div class="text-danger" th:if="${#fields.hasErrors('addressDTO.addressLine')}" th:errors="*{addressDTO.addressLine}">Address Line Error</div>
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" th:field="*{addressDTO.city}" placeholder="Enter city">
                                <div class="text-danger" th:if="${#fields.hasErrors('addressDTO.city')}" th:errors="*{addressDTO.city}">City Error</div>
                            </div>
                            <div class="mb-3">
                                <label for="state" class="form-label">State</label>
                                <input type="text" class="form-control" id="state" th:field="*{addressDTO.state}" placeholder="Enter state">
                                <div class="text-danger" th:if="${#fields.hasErrors('addressDTO.state')}" th:errors="*{addressDTO.state}">State Error</div>
                            </div>
                            <div class="mb-3">
                                <label for="usZipCode" class="form-label">ZIP Code</label>
                                <input type="text" class="form-control" id="usZipCode" th:field="*{addressDTO.usZipCode}" placeholder="Enter ZIP code">
                                <div class="text-danger" th:if="${#fields.hasErrors('addressDTO.usZipCode')}" th:errors="*{addressDTO.usZipCode}">ZIP Code Error</div>
                            </div>
                            <div class="mb-3">
                                <label for="garagePhotoUrl" class="form-label">Garage Photo</label>
                                <input type="file" class="form-control" id="garagePhotoUrl" th:field="*{garagePhotoUrl}">
                                <div class="text-danger" th:if="${#fields.hasErrors('garagePhotoUrl')}" th:errors="*{garagePhotoUrl}">Garage Photo Error</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Garages</label>

                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Garage EV</h5>
                                        <!--<h5 class="card-title">Garage <span th:text="${iterStat.count}"></span></h5>-->
                                        <div class="mb-3">
                                            <label for="garageEvCount" class="form-label"> EV Parking Count</label>
                                            <!--/*@thymesVar id="garageDTOs" type=""*/-->
                                            <input type="number" class="form-control" id="garageEvCount" th:field="*{garageDTOS[0].parkingSpotCount}" placeholder="Enter EV parking count">
                                            <input type="hidden" th:field="*{garageDTOS[0].spaceType}">
                                            <p class="text-danger" th:if="${#fields.hasErrors('garageDTOS[0].parkingSpotCount')}" th:errors="*{garageDTOS[0].parkingSpotCount}">Parking Count Error</p>
                                        </div>
                                        <div class="mb-3">
                                            <label for="pricePerDayEV" class="form-label">Price Per Day</label>
                                            <input type="number" step="0.50" class="form-control" id="pricePerDayEV" th:field="*{garageDTOS[0].pricePerDay}" placeholder="Enter price per day">
                                            <div class="text-danger" th:if="${#fields.hasErrors('garageDTOS[0].pricePerDay')}" th:errors="*{garageDTOS[0].pricePerDay}">Price Per Day Error</div>
                                        </div>
                                        <div class="mb-3">
                                            <h5 class="card-title">Garage Day Use</h5>
                                            <label for="garageTypeDayUse" class="form-label">Day Use Parking </label>
                                            <!--/*@thymesVar id="garageDTOs" type=""*/-->
                                            <input type="number" class="form-control" id="garageTypeDayUse" th:field="*{garageDTOS[1].parkingSpotCount}" placeholder="Enter Day Use parking count">
                                            <input type="hidden" th:field="*{garageDTOS[1].spaceType}">
                                            <p class="text-danger" th:if="${#fields.hasErrors('garageDTOS[1].parkingSpotCount')}" th:errors="*{garageDTOS[1].parkingSpotCount}">Parking Count Error</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="pricePerDay" class="form-label">Price Per Day</label>
                                        <input type="number" step="0.50" class="form-control" id="pricePerDay" th:field="*{garageDTOS[1].pricePerDay}" placeholder="Enter price per day">
                                        <div class="text-danger" th:if="${#fields.hasErrors('garageDTOS[1].pricePerDay')}" th:errors="*{garageDTOS[1].pricePerDay}">Price Per Day Error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Add Home</button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <footer th:insert="~{fragments/footer.html}">
    </footer>

</body>
</html>