<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css}"/>
    <title>Search Property</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/navbar.html}">
</header>
<div class="flex-grow-1 m-3">
    <div class="container">
        <!--          To Do...  Add search property menu-->


    </div>
</div>
<footer th:insert="~{fragments/footer.html}">
</footer>
</body>
</html>