<footer class="py-3 my-4" th:fragment="footer">
    <div class="nav justify-content-center pb-3 mb-3">
        <span class="mb-3 mb-md-0 text-body-secondary" th:text="#{copyRights}">All rights reserved <a th:href="@{'/'}"> HOA Manager</a><a> |</a><a>&nbsp;</a></span>
        <span class="mb-3 mb-md-0 text-body-secondary"><a th:text="#{faq}" th:href="@{'/'}"> FAQ</a><a> |</a><a>&nbsp;</a></span>
        <span class="mb-3 mb-md-0 text-body-secondary"><a th:text="#{contact}" th:href="@{'/'}"> Contact</a><a> |</a><a>&nbsp; </a></span>
        <div class="mb-3 mb-md-0 text-body-secondary">
            <form th:method="get">
                <label th:text="#{language}" for="lang"><a>&nbsp; </a></label>
                <select
                        onchange="this.form.submit()"
                        id="lang"
                        name="lang">
                    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                </select>
            </form>
        </div>
    </div>
</footer>