<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css}"/>
    <title>Property Manager Registration</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="~{fragments/navbar.html}">
</header>
<div class="flex-grow-1 m-3">
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center" th:text="#{regManager}">Manager Registration</h2>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/register/manager}" th:object="${user}">
                        <div class="form-group mb-3">
                            <label class="form-label" for="username" th:text="#{email}">Email:</label>
                            <input class="form-control" id="username" type="email" th:field="*{username}"
                                   placeholder="Enter email address" autofocus>
                            <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="firstName" th:text="#{firstName}">First Name:</label>
                            <input class="form-control" id="firstName" type="text" th:field="*{firstName}"
                                   placeholder="Enter first name">
                            <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="lastName" th:text="#{lastName}">Last Name:</label>
                            <input class="form-control" id="lastName" type="text" th:field="*{lastName}"
                                   placeholder="Enter last name">
                            <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="password" th:text="#{password}">Password:</label>
                            <input class="form-control" id="password" type="password" placeholder="Enter password" th:field="*{password}"
                            >
                            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="confirmPassword" th:text="#{confirmPassword}">Confirm password:</label>
                            <input class="form-control" id="confirmPassword" type="password" placeholder="Enter confirm password" th:field="*{confirmPassword}">
                            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{confirmPassword}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary" th:text="#{register}">Register</button>
                            <span><a th:text="#{agent}">Already apply?</a><a>&nbsp;</a><a th:href="@{/login}" th:text="#{loginHereManager}">Login here</a></span>
                        </div>
                        <div class="alert alert-success" th:if="${param.success}" th:text="#{regSuccessfully}">
                            Registration Successful!
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer th:insert="~{fragments/footer.html}">
</footer>
</body>
</html>